  <!--Hero Section-->
    <section id="budgetHero">
      <!-- Flex Container -->
      <div class="container flex flex-col  items-center mx-auto mt-10 md:flex-row md:justify-between">
  
        <!--Left Item-->
      <div class="flex flex-col space-y-12 md:border-b-4 border-black md:w-1/2 md:flex-">
        <h2 class="max-w-md text-xl font-bold text-center md:text-xl self-center">
          Top Transactions of the Month
        </h2>
        <div class="h-64">
            <canvas id="otherOtherChart"></canvas>
        </div>
       </div>
        <!--Right Budget Section-->
    <div class="flex flex-col space-y-12 md:w-1/2 md:border-l-4 md:border-b-4 border-black">
        <h2 class="max-w-md text-xl font-bold text-center md:text-xl self-center">
        Amount left in Budget
        </h2>
        <div class="top-10 w-64 h-64 md:mx-auto">
            <canvas id="Chart"></canvas>
        </div>
      </div>
  
      </div>
    </section>
    <section id="budgetContent">

            <!-- Flex Container -->
            <div class="container flex flex-col items-center  px-6 mx-auto mt-10 md:mt-0 md:flex-row md:justify-center">
        
            <div class="flex flex-col md:w-1/2">
              <h2 class="max-w-md text-xl font-bold text-center md:text-xl self-center">
                Current VS Last Months spending
              </h2>

              <canvas id="otherChart"></canvas>  
             </div>

    </section>
    <script type="module" src="../Chart.js"></script>
  </body>
  </html>